table{
    border-collapse: collapse; /* trait noirs pour séparer. */
    border: 5px solid black; /* bordure noire*/
    width: 100%;
    table-layout: fixed; 
}
td, th{
    width: 14.28%;  /*100% /7*/
    border: 5px solid pink;
}
th{
    background-color: purple;
    color: white;
}
td{
    height: 80px;
    vertical-align: top;
    background-color: white;
    color: #808080;
}